$primary-color: #000000;
$secondary-color: #ffffff;
$dark-black: #1d2027;
$accent-color: #00b3ef;
$light-bg-color: #f5fdff;

$font-sizes: (
    sm: 14px,
    lg: 22px,
    xlg: 40px
);

$colors: (
    'purple': #891890,
    'blue': #00a9ea,
    'yellow': #d1e722,
    'red':  #f75b22,
    'black': #001423,
    'orange': #ffcd77
   
);

$margins : (
    lg: 28px,
    md: 16px,
    sm: 4px
)

