.product{
    gap: $spacing;
    width: 540px;
    padding: 16px;
    border-radius: 7px;
    box-shadow: 0 3px 34px 0 rgba(0, 0, 0, 0.1);

    &__status {
        display: inline-block;
        font-size: 12px;
        padding: 4px 16px;
        background-color: #c1f9d0;
        border-radius: 4px;
        vertical-align: top;
        margin-top: 10px;
    }
}